@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

body {
  font-family: Maven Pro, sans-serif;  height: 100vh;
  width: 100vw;
  padding: 0;
  background-size: cover;
  background-image: url("road.jpeg");
  align-items: center;
  justify-content: center;
}

body::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.6);
}

#main-page {
  height: 100%;
}

#upload_div {
  
  margin-top: 100%;
  background-color: #FFF;
  border-radius: 15px;
  border-color: black;
  box-shadow: 6px 6px 15px 3px #888888;
  padding-top: 60px;
  padding-bottom: 60px;
  
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 101vw;
  background-color: black;
  color: white;
  text-align: center;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0; 
  width: 101vw;
  height: 50px;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 10px;
}

#info {
  position: absolute;
  top: 15px;
  right: 25px;
}

#info-module {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  z-index: 1000;
  border-radius: 15px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  background-color: white;
  opacity: 0.97;
  overflow-x: hidden;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 10px;
}